<div id="wrapper">

    <header>
        <section id="title">
            <h1>Vagrant Thoughts</h1>
            <!-- <h2>some thinking about programing of Canwei Yao</h2> -->
        </section>
      <nav class="menu">
          <ul>
              <li class="home"><a href="#">Home</a></li>
              <li class="work"><a href="#">Work</a></li>
              <li class="blog"><a href="#">Blog</a></li>
              <li class="about"><a href="#">About</a></li>
              <li class="contact"><a href="#">Contact Me</a></li>
          </ul>
      </nav>
      <form class="search" action="#" method="post"> 
          <label for="user_name">search</label> <!-- the for attribute ties the label to its control - same as contol's ID -->
          <input type="text" id="user_name" name="user_name" placeholder="search" /> 
      </form>
    </header>
</div>
