@charset "UTF-8";
/**
 * Site header
 */
body {
    font-family:helvetica, arial, sans-serif; 
    background:#efefef; margin:0 0;
}
#wrapper {
  width:980px; 
  margin:0 auto 20px;
}
header {
    // border-top: 5px solid $grey-color-dark;
    // border-bottom: 1px solid $grey-color-light;
    // // min-height: 56px;
    // height: 200px;

    // // Positioning context for the mobile navigation icon
    // position: relative;
    position: relative;
    height: 70px;
    margin: 10px 0;
    background: #fff;
    border-radius:20px 0px 20px 0px;
    box-shadow:0 12px 8px -9px #555;
    padding:1px;
}
header section#title {
    position:absolute;
    width:350px; /* wide enough to not force text wrap */
    height:65px; /* tall enough for both lines of text */
    left:0px; /* top left corner positioning */
    top:10px;
}
header h1 {
    padding:9px 12px 0;
    font-family:Lato, helvetica, sans-serif;
    font-style:normal;
    font-weight:900;
    font-size:2.2em;
    line-height:1;
    letter-spacing:-.025em;
    color:#4eb8ea;
}
// header h2 {
//     font-family:"Source Sans Pro", helvetica, sans-serif;
//     font-style:normal;
//     font-weight:400;
//     font-size:.9em;
//     color:#333;
//     padding:0px 12px;
//     line-height:1;
//     letter-spacing:-.025em;
// }
/*menu*/ 
nav.menu {
    margin:19px auto;
    padding:0;
    text-align:center; /*在容器内居中菜单*/
    font-size:.8em;
}
nav.menu > ul { display:inline-block;} /*收缩包紧列表项*/
nav.menu li {
    float:left; /* 让菜单项水平排列*/
    list-style-type:none; /*去掉默认的项目符号*/
    position:relative; /*为子列表提供定位上下文*/
}
nav.menu li a {
    display:block; /*让链接填满列表项*/
    padding:.25em .8em;
    font-family:"Source Sans Pro", helvetica, sans-serif;
    font-style: normal;
    font-weight:600;
    font-size:1.2em;
    text-align:left;
    color:#fff;
    text-decoration:none; /*去掉链接的下划线*/
    -webkit-font-smoothing: antialiased; /*在 WebKit 浏览器中平滑字体*/
}
nav.menu li.home a {background:#f58c21;}
nav.menu li.work a {background:#4eb8ea;}
nav.menu li.blog a {background:#d6e636;}
nav.menu li.about a {background:#ee4c98;}
nav.menu li.contact a {background:#f58c21;}
nav.menu li:hover > a {
    color:#555;
    border-color:#fff;
    border:0;
}
nav.menu li:last-child a {border-bottom-right-radius:10px;}
nav.menu li:first-child a {border-top-left-radius:10px;}
/*search*/
form.search {
    position:absolute; 
    width:150px; /*宽到足以容纳扩展后的搜索框*/
    top:23px; 
    right:20px; /*相对于页眉右上角定位*/
}
.search input {
    float:right; width:70px;
    padding:2px 0 3px 5px;
    border-radius:10px 0px 10px 0px;
    font-family:"Source Sans Pro", helvetica, sans-serif;
    font-weight: 400;
    font-size:1em;
    color:#888;
    outline:none; /*去掉默认的轮廓线*/
    -webkit-transition:2s width; /*搜索框过渡动画,别忘了带其他厂商前缀的属性*/
}
.search input:focus { width:140px;}/*在获得焦点时扩展到这么宽*/
.search label{display:none;}
form.search input {background-color:#fff;}
form.search input::-webkit-input-placeholder {color:#ccc;}

.site-nav {
    float: right;
    line-height: 56px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $text-color;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the first one
        &:not(:first-child) {
            margin-left: 20px;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: 30px;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;
        }
    }
}



/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}
